CHATGPT_API_KEY=""
CHATGPT_API_SERVER=""
CHATGPT_API_TYPE=""
CHATGPT_AZURE_RESOURCE=""
CHATGPT_AZURE_DEPLOYMENT=""
CHATGPT_AZURE_API_VERSION=""
CHATGPT_CONVERSATION_CONTEXT=""
CHATGPT_CONVERSATION_LANGUAGE=""
CHATGPT_NAME=""
CHATGPT_PROXY=""
